{{ 'section-contact-form.css' | asset_url | stylesheet_tag }}

<div class="container--large container--vertical-space remove-empty-space">

  <div class="contact-form">
    <div class="contact-form__the-form">

      <h2 class="h2 gutter-bottom--small">{{ section.settings.heading | escape }}</h2>

      <div class="contact-form__inner">
        <div class=" contact-form__img">
          <div class="card__image" aria-hidden="true" style="padding-top: 100%;">
            {%- unless section.settings.image == blank -%}
              {%- capture sizes -%}
                sizes="calc(40vh * {{ section.settings.image.aspect_ratio }})"
              {%- endcapture -%}

              {%- liquid
                
                render 'lazy-image', image: section.settings.image, type: 'background', alt: section.settings.address, sizes: sizes

              -%}

            {%- else -%}
              {{ 'image' | placeholder_svg_tag }}
            {%- endunless -%}
          </div>
        </div>

        {%- assign form_id = 'contact-' | append: section.id -%}
        {%- form 'contact', id: form_id, class: 'isolate contact-form__form gutter--xlarge' -%}

          {%- liquid 
            if form.posted_successfully?
              assign message = 'general.contact_form.success_message' | t
              render 'form-success', message: message
            elsif form.errors
              render 'form-errors', form: form
            endif
          -%}
          
          <div class="contact__fields">
            
            <div class="contact-form__row">
              <label class="visually-hidden" for="{{ form_id }}-name">{{ 'general.contact_form.name_label' | t }}</label>
              <input class="field__input" autocomplete="name" type="text" id="{{ form_id }}-name" name="contact[{{ 'general.contact_form.name_label' | t }}]" value="{% if form.name %}{{ form.name }}{% elsif customer %}{{ customer.name }}{% endif %}" placeholder="{{ 'general.contact_form.name_label' | t }}">
            </div>

            <div class="contact-form__row">
              <label class="visually-hidden" for="{{ form_id }}-email">{{ 'general.contact_form.email_label' | t }} <span aria-hidden="true">*</span></label>
              <input
                autocomplete="email"
                type="email"
                id="{{ form_id }}-email"
                class="field__input"
                name="contact[email]"
                spellcheck="false"
                autocapitalize="off"
                value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}"
                aria-required="true"
                {% if form.errors contains 'email' %}
                  aria-invalid="true"
                  aria-describedby="{{ form_id }}-email-error"
                {% endif %}
                placeholder="{{ 'general.contact_form.email_label' | t }}"
              >
            </div>
          </div>

          {%- if section.settings.show_subject -%}
            <div class="contact-form__row">
              <label class="visually-hidden" for="{{ form_id }}-subject">{{ 'general.contact_form.subject_label' | t }}</label>
              <input type="text" id="{{ form_id }}-subject" class="field__input" autocomplete="tel" name="contact[Subject]"  value="{% if form.subject %}{{ form.subject }}{% elsif customer %}{{ customer.subject }}{% endif %}" placeholder="{{ 'general.contact_form.subject_label' | t }}">
            </div>
          {%- endif -%}

          {%- if section.settings.show_phone -%}
            <div class="contact-form__row">
              <label class="visually-hidden" for="{{ form_id }}-phone">{{ 'general.contact_form.phone_label' | t }}</label>
              <input type="tel" id="{{ form_id }}-phone" class="field__input" autocomplete="tel" name="contact[{{ 'general.contact_form.phone_label' | t }}]" pattern="[0-9\-]*" value="{% if form.phone %}{{ form.phone }}{% elsif customer %}{{ customer.phone }}{% endif %}" placeholder="{{ 'general.contact_form.phone_label' | t }}">
              
            </div>
          {%- endif -%}

          <div class="contact-form__row">
            <label class="visually-hidden" for="{{ form_id }}-body">{{ 'general.contact_form.message_label' | t }}</label>
            <textarea
              rows="10"
              id="{{ form_id }}-body"
              class="text-area field__input"
              name="contact[{{ 'general.contact_form.message_label' | t }}]"
              placeholder="{{ 'general.contact_form.message_label' | t }}"
            >{{ form.body }}</textarea>
          </div>

          <div class="contact-form__row">
            <button type="submit" class="button button--large button--solid">
              {{ 'general.contact_form.submit_label' | t }}
            </button>
          </div>
          
        {%- endform -%}

      </div>

    </div>
  </div>

  
</div>

{% schema %}
	{
    "name": "t:sections.contact-form.name",
    "tag": "section",
		"settings": [
      {
        "type": "text",
        "id": "heading",
        "label": "t:sections.local-extra-words.sections.headings.heading",
        "default": "Drop us a line"
      },
      {
        "type": "header",
        "content": "t:sections.local-extra-words.sections.contact-form.settings.form-fields.name"
      },
      {
        "type": "checkbox",
        "id": "show_phone",
        "label": "t:sections.local-extra-words.sections.contact-form.settings.form-fields.show-phone",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "show_subject",
        "label": "t:sections.local-extra-words.sections.contact-form.settings.form-fields.show-subject",
        "default": false
      },
      {
        "type" : "image_picker",
        "id": "image",
        "label": "Image"
      }
    ],
    "presets": [
      {
        "name": "t:sections.contact-form.presets.name"
      }
    ]
  }
{% endschema %}