{% liquid
  assign handle = request.path | split: '/' | last | url_decode
  assign stylesheet = shop.metafields.shopbnb.stylesheet.value
  assign language = shop.metafields.shopbnb.language.value
  assign isOnPaidPlan = shop.metafields.shopbnb.isOnPaidPlan.value
  assign dateFormat = shop.metafields.shopbnb.dateFormat.value

  assign shopbnbHost = settings.shopbnb_host
  if shopbnbHost == blank
    assign shopbnbHost = 'https://widgets.shopbnb.app'
  endif
%}

<script
  src='https://kit.fontawesome.com/afbb78f1a3.js'
  crossorigin='anonymous'
  async></script>

<section class='' id='shopbnb-container'>
  <div
    class='shopbnb-app'
    data-template='listing.default'
    data-is-shopbnb-ai='true'>
    <script type='application/json'>
      {
        "shopbnbMoneyFormat": "{{ shop.money_format | escape }}",
        "language": {{ language | json }},
        "shopDomain": "{{ shop.permanent_domain | escape }}",
        "shopName": "{{ shop.name | escape }}",
        "isOnPaidPlan": {{ isOnPaidPlan | default: false }},
        "dateFormat": "{{ dateFormat }}"
      }
    </script>
  </div>

  <script src='{{ shopbnbHost }}/shopbnb.bundle.js' async></script>

  <style > :root
  {
    --shopbnb-font-body-scale: {{ stylesheet.fontScale | default: '1' }};
    --shopbnb-primary-color: {{ stylesheet.primaryColor | default: '#ef3b3e' }};
    --shopbnb-secondary-color: {{ stylesheet.secondaryColor | default: '#525252' }};
    --shopbnb-border-radius-scale: {{ stylesheet.borderRadiusScale | default: '1' }};
    --shopbnb-body-text-color: {{ stylesheet.bodyTextColor | default: '#000' }};
    --shopbnb-button-text-color: {{ stylesheet.buttonTextColor | default: '#fff' }};
    --shopbnb-header-text-color: {{ stylesheet.headerTextColor | default: '#000' }};
  }
  {{ stylesheet.customStyle }}
</style></section>{% schema %}
{
  "name": "Listing Product Template",
  "tag": "section",
  "class": "section",
  "enabled_on": {
    "templates": ["*"],
    "groups": ["aside"]
  },
  "settings": [
    {
      "type": "select",
      "id": "container-width",
      "label": "Container Width",
      "options": [
        {
          "value": "limitWidth",
          "label": "Limited Width"
        }, {
          "value": "fullWidth",
          "label": "Full Width"
        }
      ],
      "default": "limitWidth"
    }
  ],
  "presets": [
    {
      "name": "Listing Product Template"
    }
  ]
}{% endschema %}