{% liquid
  assign shopbnbHost = settings.shopbnb_host
  assign stylesheet = shop.metafields.shopbnb.stylesheet.value
  assign language = shop.metafields.shopbnb.language.value
  assign dateFormat = shop.metafields.shopbnb.dateFormat.value

  if shopbnbHost == blank
    assign shopbnbHost = 'https://widgets.shopbnb.app'
  endif
%}

<script
  src='https://kit.fontawesome.com/afbb78f1a3.js'
  crossorigin='anonymous'
  async></script>

<div
  class='shopbnb-app'
  data-template='stays.default'
  data-is-theme-ext='true'
  data-is-shopbnb-ai="true"
  data-destination='{{ section.settings.destination }}'
  data-heading='{{ section.settings.heading }}'
  data-listing-per-row='{{ section.settings.listing-per-row }}'
  data-search-button-color='{{ section.settings.search-button-color }}'
  data-search-icon-color='{{ section.settings.search-icon-color }}'
  data-card-border-radius='{{ section.settings.card-border-radius }}'
  data-container-width='{{ section.settings.container-width }}'
  data-listing-per-page='{{ section.settings.listing-per-page }}'
  data-search-bar-border-radius='{{ section.settings.search-bar-border-radius }}'
  data-search-input-border-radius='{{ section.settings.search-input-border-radius }}'
  data-show-badge='{{ section.settings.show-badge }}'
  data-show-search-bar='{{ section.settings.show-search-bar }}'
  data-show-type-selection='{{ section.settings.show-type-selection }}'
  data-type-selection='{{ section.settings.type-selection }}'
  data-redirect-to='{{ section.settings.redirect-to }}'>
  <script type='application/json'>
    {
      "shopbnbMoneyFormat": "{{ shop.money_format | escape }}",
      "shopDomain": "{{ shop.permanent_domain | escape }}",
      "shopName": "{{ shop.name | escape }}",
      "language": {{ language | json }},
      "dateFormat": "{{ dateFormat }}"
    }
  </script>
</div>

<script src='{{ shopbnbHost }}/shopbnb.bundle.js' async></script>

<style>
  :root {
    --shopbnb-font-body-scale: {{ stylesheet.fontScale | default: '1' }};
    --shopbnb-primary-color: {{ stylesheet.primaryColor | default: '#ef3b3e' }};
    --shopbnb-secondary-color: {{ stylesheet.secondaryColor | default: '#525252' }};
    --shopbnb-border-radius-scale: {{ stylesheet.borderRadiusScale | default: '1' }};
    --shopbnb-body-text-color: {{ stylesheet.bodyTextColor | default: '#000' }};
    --shopbnb-button-text-color: {{ stylesheet.buttonTextColor | default: '#fff' }};
    --shopbnb-header-text-color: {{ stylesheet.headerTextColor | default: '#000' }};
  }
  {{ stylesheet.customStyle }}
</style>

{% schema %}
  {
    "name": "Search - Custom",
    "tag": "section",
    "class": "section",
    "enabled_on": {
      "templates": ["*"],
      "groups": ["aside"]
    },
    "settings": [
      {
        "type": "checkbox",
        "id": "destination",
        "default": false,
        "label": "Show destination field",
        "info": "If checked, the destination field will be displayed in the search box."
      },
      {
        "type": "checkbox",
        "id": "show-type-selection",
        "default": true,
        "label": "Show type selection",
        "info": "If checked, the type selection will be visible"
      },
      {
        "type": "select",
        "id": "type-selection",
        "label": "Type selection",
        "default": "COMMON",
        "options": [
          {
            "value": "COMMON",
            "label": "All"
          },
          {
            "value": "STAYS",
            "label": "Stays"
          },
          {
            "value": "VACATION_RENTALS",
            "label": "Vacation Rentals"
          },
          {
            "value": "HOTELS",
            "label": "Hotels"
          }, {
            "value": "EXPERIENCES",
            "label": "Experiences"
          }
        ]
      },
      {
        "type": "checkbox",
        "id": "show-badge",
        "default": true,
        "label": "Show listing type badge"
      }, {
        "type": "checkbox",
        "id": "show-search-bar",
        "default": true,
        "label": "Show search box",
        "info": "If checked, the search box will be visible"
      }, {
        "type": "text",
        "id": "heading",
        "default": "Stays",
        "label": "Heading for the section"
      }, {
        "type": "text",
        "id": "redirect-to",
        "default": "/a/bnb/listings",
        "label": "Redirect URL on click (default: /a/bnb/listings)",
        "info": "Note: Ensure the Listing Product Section is added to the target page for proper functionality."
      }, {
        "type": "number",
        "id": "listing-per-row",
        "default": 4,
        "label": "Number of listings per row"
      }, {
        "type": "number",
        "id": "listing-per-page",
        "default": 8,
        "label": "Total number of listings per page"
      }, {
        "type": "color",
        "id": "search-button-color",
        "default": "#ef3b3e",
        "label": "Color of the search button"
      }, {
        "type": "color",
        "id": "search-icon-color",
        "default": "#fff",
        "label": "Color of the search icon"
      }, {
        "type": "number",
        "id": "card-border-radius",
        "default": 10,
        "label": "Border radius of the card in px"
      }, {
        "type": "number",
        "id": "search-bar-border-radius",
        "default": 999,
        "label": "Border radius of the search bar in px"
      }, {
        "type": "number",
        "id": "search-input-border-radius",
        "default": 10,
        "label": "Border radius of the search inputs in px"
      }, {
        "type": "select",
        "id": "container-width",
        "label": "Container Width",
        "options": [
          {
            "value": "limitWidth",
            "label": "Limited Width"
          }, {
            "value": "fullWidth",
            "label": "Full Width"
          }
        ],
        "default": "limitWidth"
      }, {
        "type": "checkbox",
        "id": "search-bar-box-shadow",
        "default": false,
        "label": "Box shadow on search bar",
        "info": "If checked, shadow will be visible in search bar"
      }
    ],
    "presets": [
      {
        "name": "Search - Custom"
      }
    ]
  }
{% endschema %}